$primary_old: #D24A43;
$primary: rgb(238,50,36);

// As hex codes */

$color-primary-0: #EE3324;	// Main Primary color */
$color-primary-1: #FF8278;
$color-primary-2: #FC5C4F;
$color-primary-3: #C3180B;
$color-primary-4: #9B0B00;



// As RGBa codes */

$rgba-primary-0: rgba(238, 51, 36,1);	// Main Primary color */
$rgba-primary-1: rgba(255,130,120,1);
$rgba-primary-2: rgba(252, 92, 79,1);
$rgba-primary-3: rgba(195, 24, 11,1);
$rgba-primary-4: rgba(155, 11,  0,1);

$golden-ratio: 1.61803398875;