$small: "(max-width: 767px)";
$medium: "(min-width: 768px) and (max-width: 991px)";
$large: "(min-width: 992px) and (max-width: 1199px)";
$extra_large: "(min-width: 1200px)";
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx)";

@mixin media($query) {
  @media #{$query} {
    @content;
  }
}